    <div class="header">
        <div class="container">
            <!-- Logo -->
            <a class="logo" ui-sref="home">
                <img src="assets/img/logo-header.png" alt="GS Poetry">
            </a>
            <!-- End Logo -->
            
            <!-- Topbar -->
          <div class="topbar">
                <ul class="loginbar pull-right">
                    <li class="btn-u rounded btn-u-success btn-u-sm hoverSelector btn-u-brown" style="margin-right: 5px;">
                        <a ui-sref="sign_in">LOGIN</a>
                    </li>
                    <li class="btn-u rounded btn-u-success btn-u-sm hoverSelector">
                        <a ui-sref="sign_up">JOIN SITE</a>
                    </li>
                </ul>
            </div>
            <!-- End Topbar -->

            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->
        </div><!--/end container-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
            <div class="container">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                    <li>
                        <a ui-sref="home">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <!-- End Home -->

                    <!-- Poems -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Poems
                        </a>
                    </li>
                    <!-- End Poems -->

                    <!-- Poetry -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            Poets
                        </a>
                    </li>                    
                    <!-- End Poetry -->

                    <!-- Media -->
                    <li>
                        <a href="javascript:void(0);">
                            Media
                        </a>
                    </li>
                    <!-- End Media -->

                    <!-- Support -->
                    <li>
                        <a ui-sref="about">
                            SUPPORT
                        </a>
                    </li>
                    <!-- End Support -->

                    <!-- Search Block -->
                    <li>
                        <i class="search fa fa-search search-btn"></i>
                        <div class="search-open">
                            <div class="input-group animated fadeInDown">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn-u" type="button">Go</button>
                                </span>
                            </div>
                        </div>    
                    </li>
                    <!-- End Search Block -->
                </ul>
            </div><!--/end container-->
        </div><!--/navbar-collapse-->
    </div>