    <div class="header">
        <div class="container">
            <!-- Logo -->
            <a class="logo" ui-sref="home">
                <img src="assets/img/logo-header.png" alt="GS Poetry">
            </a>
            <!-- End Logo -->
            
            <!-- Topbar -->
            <div class="topbar" ng-hide="signed_user">
                <ul class="loginbar pull-right">
                    <li class="btn-u rounded btn-u-success btn-u-sm hoverSelector btn-u-brown" style="margin-right: 5px;">
                        <a ui-sref="sign_in">LOGIN</a>
                    </li>
                    <li class="btn-u rounded btn-u-success btn-u-sm hoverSelector">
                        <a ui-sref="sign_up">JOIN SITE</a>
                    </li>
                </ul>
            </div>
            <div class="topbar" ng-show="signed_user">
                <ul class="loginbar pull-right">
                    <li class="margin-right10"> <a ui-sref="profile"><img class="header-avatar" src="assets/img/testimonials/img2.jpg" alt=""><span class="header-avatar-name"> Andrew</span></a></li>
                    <li>
                      <ul class="list-inline badge-lists badge-icons">
                          <li><a class="tooltips" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Write&nbsp;Poem" ui-sref="write_poem"><i class="fa fa-pencil green"></i></a></li>
                          <li><a href="#"><i class="fa fa-cog brown"></i></a></li>
                          <li><a href="#"><i class="fa fa-envelope brown"></i></a><span class="badge badge-red badgenum rounded-x">2</span></li>
                          <li><a href="#"><i class="fa fa-bell brown"></i></a><span class="badge badge-red rounded-x badgenum">4</span></li>
                      </ul>
                   </li>
                </ul>
            </div>            
            <!-- End Topbar -->

            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->
        </div><!--/end container-->

        <div ng-include="'content/layout/topnav.html'"></div>
    </div>