<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
    <div class="container">
        <ul class="nav navbar-nav">
            <!-- Home -->
            <li>
                <a ui-sref="home">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <!-- End Home -->

            <!-- Poems -->
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    Poems
                </a>
            </li>
            <!-- End Poems -->

            <!-- Poetry -->
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    Poets
                </a>
            </li>                    
            <!-- End Poetry -->

            <!-- Media -->
            <li>
                <a href="javascript:void(0);">
                    Media
                </a>
            </li>
            <!-- End Media -->

            <!-- Support -->
            <li>
                <a ui-sref="about">
                    SUPPORT
                </a>
            </li>
            <!-- End Support -->

            <!-- Search Block -->
            <li>
                <i class="search fa fa-search search-btn"></i>
                <div class="search-open">
                    <div class="input-group animated fadeInDown">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">Go</button>
                        </span>
                    </div>
                </div>    
            </li>
            <!-- End Search Block -->
        </ul>
    </div><!--/end container-->
</div><!--/navbar-collapse-->